1. Of the 576 players of Pymoli, the majority (84%) are male. Females make up the a sizeable portion of players at 14%.
2. Female players purchase more on average than male players.
#Pymoli is most popular with players in the 19-22 year old age range.

In [207]:
import pandas as pd
import numpy as np

In [208]:
datafile = "Resources/purchase_data.csv"
datafile_df = pd.read_csv(datafile)
datafile_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [209]:
column_name = datafile_df.columns
column_name

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [210]:
datafile_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [211]:
datafile_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

# Player Count

In [212]:
player_unique = pd.DataFrame({"Players" :datafile_df["SN"].nunique()}, index = [1])
#need to figure out how to count unique values
player_unique

   Players
1      576

# Purchasing Analysis (Total)

In [213]:
item_unique = pd.DataFrame({"Item Count":datafile_df["Item ID"].nunique()}, index=[1])
# neet to figue out how to count unique values
item_unique

   Item Count
1         183

In [214]:
average_price = datafile_df["Price"].mean()
average_price

3.050987179487176

In [215]:
total_purchases = datafile_df["SN"].count()
total_purchases

780

In [216]:
total_revenue = datafile_df["Price"].sum()
total_revenue

2379.77

In [217]:
purchasing_analysis = pd.DataFrame({"Unique Items": item_unique["Item Count"],"Average Price": [round(average_price, 2)], "Total Purchase": [total_purchases], "Total Revenue": [total_revenue]})
purchasing_analysis

   Unique Items  Average Price  Total Purchase  Total Revenue
1           183           3.05             780        2379.77

# Gender Demographics

In [218]:
df_males = datafile_df.loc[datafile_df["Gender"] == "Male", :]
df_males_unique =pd.DataFrame({"Count of Males":df_males["SN"].nunique()}, index=[1])
df_males_unique

   Count of Males
1             484

In [219]:
df_females = datafile_df.loc[datafile_df["Gender"] == "Female", :]
df_females_unique = pd.DataFrame({"Count of Females":df_females["SN"].nunique()}, index=[1])
df_females_unique

   Count of Females
1                81

In [220]:
df_unident = datafile_df.loc[datafile_df["Gender"] == "Other / Non-Disclosed", :]
df_unident_unique = pd.DataFrame({"Count of Non-Disclosed":df_unident["SN"].nunique()}, index=[1])
df_unident_unique

   Count of Non-Disclosed
1                      11

In [252]:
gender_count = datafile_df.groupby("Gender")
gender_ct = gender_count["SN"].nunique()

percentage = round(gender_ct/576*100, 2)

gender_analysis =  pd.DataFrame({"Total Count": gender_ct,
                              "Percentage of Players": percentage},index = ["Male","Female","Other / Non-Disclosed"])
gender_analysis.head()

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

# Purchasing Analysis (Gender)

In [54]:
df_purch_gen = datafile_df.groupby("Gender")

In [55]:
#Purchase Count
purchase_count = df_purch_gen["Item ID"].count()
purchase_count.head()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item ID, dtype: int64

In [57]:
#Average Purchase Price
average_purch_price = df_purch_gen["Price"].mean()
average_purch_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [56]:
#Total Purchase Price
purchase_price = df_purch_gen["Price"].sum()
purchase_price.head()

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [255]:
#Average Purchase Total
purchase_per_gen = purchase_price/gender_ct
purchase_per_gen

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [256]:
 purchase_analysis_gen = pd.DataFrame({"Purchase Count": purchase_count,
                                       " Average Purchase Price": average_purch_price,
                                       "Total Purchase Value": purchase_price, "Average Purchase Total": purchase_per_gen})

purchase_analysis_gen

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

# Age Demographics

In [67]:
bin = [10, 14, 18, 22, 26, 30, 34, 38, 42, 46]
group_names = ["10-14", "15-18", "19-22", "23-26", "27-30", "31-34", "35-38", "39-42", "43-45"]

In [ ]:
datafile_df["Age Range"] = pd.cut(datafile_df["Age"], bin, labels=group_names)
datafile_df.head()

In [108]:
age_demo_df = datafile_df.groupby("Age Range")
age_purchase_count = age_demo_df["Item ID"].count()
age_purchase_count.head()

Age Range
10-14     19
15-18    113
19-22    254
23-26    207
27-30     63
Name: Item ID, dtype: int64

In [110]:
#Average Purchase Price
age_ave_purch_price = age_demo_df["Price"].mean()
age_ave_purch_price

Age Range
10-14    2.681579
15-18    3.034602
19-22    3.038937
23-26    3.063961
27-30    2.876667
31-34    2.728421
35-38    3.552857
39-42    3.366667
43-45    2.765000
Name: Price, dtype: float64

In [111]:
age_purchase_price = age_demo_df["Price"].sum()
age_purchase_price.head()

Age Range
10-14     50.95
15-18    342.91
19-22    771.89
23-26    634.24
27-30    181.23
Name: Price, dtype: float64

In [265]:

age_ct = age_demo_df["SN"].nunique()
age_total = round(age_purchase_price/age_ct,2)
age_total

Age Range
10-14    3.40
15-18    3.81
19-22    4.34
23-26    4.20
27-30    3.78
31-34    3.84
35-38    4.97
39-42    3.61
43-45    2.76
dtype: float64

In [266]:
 purchase_analysis_age = pd.DataFrame({"Purchase Count": age_purchase_count,
                                       " Average Purchase Price": age_ave_purch_price,
                                       "Total Purchase Value": age_purchase_price,
                                       "Average Purchase Total per Person by Age Group ": age_total})

purchase_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Age Group
Age Range,,,,
10-14,19,2.681579,50.95,3.40
15-18,113,3.034602,342.91,3.81
19-22,254,3.038937,771.89,4.34
23-26,207,3.063961,634.24,4.20
27-30,63,2.876667,181.23,3.78
31-34,38,2.728421,103.68,3.84
35-38,35,3.552857,124.35,4.97
39-42,15,3.366667,50.50,3.61
43-45,4,2.765000,11.06,2.76

# Top Spenders

In [57]:
df_spend = datafile_df.groupby(["SN"])
spending = df_spend["Price"].sum()
item_count_sp = df_spend["Item ID"].count()
item_average_sp = round(spending/item_count_sp, 2)
df_spend2 = pd.DataFrame({"Purchase Count": item_count_sp,
                          "Average Price": item_average_sp, 
                          "Total Purchase Value": spending})
df_spend2.sort_values("Total Purchase Value", ascending=False).head()

             Purchase Count  Average Price  Total Purchase Value
SN
Lisosia93                 5           3.79                 18.96
Idastidru52               4           3.86                 15.45
Chamjask73                3           4.61                 13.83
Iral74                    4           3.40                 13.62
Iskadarya95               3           4.37                 13.10

# Most Popular Items

In [70]:
df_items = datafile_df.groupby(["Item ID"])
purchase_count_pi = df_items["Item ID"].count()
item_total_purchase = df_items["Price"].sum()

df_items2 = pd.DataFrame( {"Item Name": datafile_df["Item Name"],
                           "Purchase Count":purchase_count_pi, 
                           "Item Price": datafile_df["Price"], 
                           "Total Purchase Value": item_total_purchase})
df_items3 = df_items2.reset_index()
df_items3.sort_values("Purchase Count", ascending=False).head()

,index,Item Name,Purchase Count,Item Price,Total Purchase Value
178,178,"Despair, Favor of Due Diligence",12.0,4.60,50.76
145,145,Hopeless Ebon Dualblade,9.0,1.33,41.22
108,108,Malificent Bag,9.0,1.75,31.77
82,82,Azurewrath,9.0,4.40,44.10
19,19,"Blazefury, Protector of Delusions",8.0,4.64,8.16

# Most Profitable Items

In [72]:
df_profitable = df_items3.sort_values("Total Purchase Value", ascending = False)
df_profitable.head()

,index,Item Name,Purchase Count,Item Price,Total Purchase Value
178,178,"Despair, Favor of Due Diligence",12.0,4.60,50.76
82,82,Azurewrath,9.0,4.40,44.10
145,145,Hopeless Ebon Dualblade,9.0,1.33,41.22
92,92,"Betrayal, Whisper of Grieving Widows",8.0,3.94,39.04
103,103,"Thorn, Satchel of Dark Souls",8.0,1.33,34.80