In [11]:
import pandas as pd
import numpy as np

In [12]:
datafile = "Resources/purchase_data.csv"
datafile_df = pd.read_csv(datafile)
datafile_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [13]:
column_name = datafile_df.columns
column_name

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [14]:
datafile_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [15]:
datafile_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

# Player Count

In [22]:
player_unique = pd.DataFrame({"Players" :datafile_df["SN"].nunique()}, index = [1])
#need to figure out how to count unique values

   Players
1      576

# Purchasing Analysis (Total)

In [25]:
item_unique = pd.DataFrame({"Item Count":datafile_df["Item ID"].nunique()}, index=[1])
# neet to figue out how to count unique values
item_unique

   Item Count
1         183

In [29]:
average_price = datafile_df["Price"].mean()
average_price

3.050987179487176

In [30]:
total_purchases = datafile_df["SN"].count()
total_purchases

780

In [31]:
total_revenue = datafile_df["Price"].sum()
total_revenue

2379.77

In [32]:
purchasing_analysis = pd.DataFrame({"Total Items": item_unique["Item Count"],"Average Price": [round(average_price, 2)], "Total Purchase": [total_purchases], "Total Revenue": [total_revenue]})
purchasing_analysis

   Total Items  Average Price  Total Purchase  Total Revenue
1          183           3.05             780        2379.77

# Gender Demographics

# Purchasing Analysis (Gender)

# Age Demographics

# Top Spenders

In [57]:
df_spend = datafile_df.groupby(["SN"])
spending = df_spend["Price"].sum()
item_count_sp = df_spend["Item ID"].count()
item_average_sp = round(spending/item_count_sp, 2)
df_spend2 = pd.DataFrame({"Purchase Count": item_count_sp,
                          "Average Price": item_average_sp, 
                          "Total Purchase Value": spending})
df_spend2.sort_values("Total Purchase Value", ascending=False).head()

             Purchase Count  Average Price  Total Purchase Value
SN
Lisosia93                 5           3.79                 18.96
Idastidru52               4           3.86                 15.45
Chamjask73                3           4.61                 13.83
Iral74                    4           3.40                 13.62
Iskadarya95               3           4.37                 13.10

# Most Popular Items

In [70]:
df_items = datafile_df.groupby(["Item ID"])
purchase_count_pi = df_items["Item ID"].count()
item_total_purchase = df_items["Price"].sum()

df_items2 = pd.DataFrame( {"Item Name": datafile_df["Item Name"],
                           "Purchase Count":purchase_count_pi, 
                           "Item Price": datafile_df["Price"], 
                           "Total Purchase Value": item_total_purchase})
df_items3 = df_items2.reset_index()
df_items3.sort_values("Purchase Count", ascending=False).head()

,index,Item Name,Purchase Count,Item Price,Total Purchase Value
178,178,"Despair, Favor of Due Diligence",12.0,4.60,50.76
145,145,Hopeless Ebon Dualblade,9.0,1.33,41.22
108,108,Malificent Bag,9.0,1.75,31.77
82,82,Azurewrath,9.0,4.40,44.10
19,19,"Blazefury, Protector of Delusions",8.0,4.64,8.16

# Most Profitable Items

In [72]:
df_profitable = df_items3.sort_values("Total Purchase Value", ascending = False)
df_profitable.head()

,index,Item Name,Purchase Count,Item Price,Total Purchase Value
178,178,"Despair, Favor of Due Diligence",12.0,4.60,50.76
82,82,Azurewrath,9.0,4.40,44.10
145,145,Hopeless Ebon Dualblade,9.0,1.33,41.22
92,92,"Betrayal, Whisper of Grieving Widows",8.0,3.94,39.04
103,103,"Thorn, Satchel of Dark Souls",8.0,1.33,34.80